@model IEnumerable<WebApplication5.Models.Address>

@{
    ViewData["Title"] = "Index";
}

<h2>Index</h2>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.address2)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.district)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.city_id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.postal_code)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.phone)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.last_update)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.address)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.address2)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.district)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.city_id)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.postal_code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.phone)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.last_update)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.address_id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.address_id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.address_id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
